.inquiryFormSection {
    padding: 40px;

    .formContainer {
        display: flex;
        align-items: center;
        max-width: 1500px;
        margin: auto;
        background-color: #388ECA;
        color: #FFFFFF;
        padding: 60px;
        border-radius: 20px;

        .leftPanel {
            padding: 0 20px;
            width: 50%;

            .title {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .steps {
                display: flex;
                flex-direction: column;

                .step {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .stepNumber {
                        background-color: #FFFFFF;
                        color: #388ECA;
                        width: 2.5rem;
                        min-width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 500;
                        font-size: 20px;
                    }
                }

                .stepConnector {
                    width: 2px;
                    height: 3rem;
                    margin-left: 20px;
                    border: 1px dashed #FFFFFF;
                }
            }
        }

        .rightPanel {
            background-color: #FFFFFF;
            color: #1E1E1E;
            border-radius: 20px;
            padding: 60px 40px;
            width: 50%;

            .formFields {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;

                .input {
                    margin-bottom: 16px;
                    padding: 10px 16px;
                    border: 1px solid #D0D0D0;
                    border-radius: 6px;
                    font-size: 16px;

                    &::placeholder {
                        color: #D0D0D0;
                    }
                }

                .textarea {
                    margin-bottom: 40px;
                    padding: 10px 16px;
                    border: 1px solid #D0D0D0;
                    border-radius: 6px;
                    font-size: 16px;
                    min-height: 100px;
                    resize: vertical;

                    &::placeholder {
                        color: #D0D0D0;
                    }
                }

                .sendButton {
                    align-self: flex-end;
                    background-color: #0F4C8F;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 10px 30px;
                    border-radius: 20px;
                    cursor: pointer;

                    &:hover {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .inquiryFormSection {
        .formContainer {
            padding: 30px;
            flex-direction: column;

            .leftPanel {
                padding: 20px 20px 40px;
                width: 100%;

                .title {
                    text-align: center;
                }
            }

            .rightPanel {
                width: 100%;
            }
        }
    }
}

@media (max-width: 991px) {
    .inquiryFormSection {
        .formContainer {
            .leftPanel {
                .title {
                    font-size: 28px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .inquiryFormSection {
        padding: 30px;

        .formContainer {
            .leftPanel {
                padding: 20px 10px 40px;

                .title {
                    font-size: 24px;
                }

                .steps {
                    .step {
                        .stepNumber {
                            font-size: 18px;
                        }

                    }
                }
            }

            .rightPanel {
                padding: 40px 30px;

                .formFields {

                    .input,
                    .textarea {
                        padding: 8px 12px;
                        font-size: 14px;
                    }

                    .sendButton {
                        font-size: 14px;
                        padding: 8px 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .inquiryFormSection {
        .formContainer {
            padding: 20px;

            .leftPanel {
                .steps {
                    .step {
                        gap: 10px;

                        .stepText {
                            font-size: 14px;
                        }
                    }
                }
            }

            .rightPanel {
                padding: 30px 20px;
            }
        }
    }
}
