.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;

    .logo {
        img {
            height: 50px;
        }
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 50px;

        a {
            color: #1E1E1E;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            transition: color 0.3s ease;

            &:hover {
                color: #388ECA;
            }
        }
    }

    .contactButton {
        padding: 5px;
        border-radius: 30px;
        border: 1px solid #1E1E1E;
        cursor: pointer;

        .contactButtonWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-left: 10px;
            border-radius: 30px;
            color: #1E1E1E;
            font-size: 14px;
            font-weight: 500;
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 100%;
                background-color: #388ECA;
                z-index: -1;
                transition: left 0.3s ease;
            }

            .arrowIcon {
                background-color: #388ECA;
                padding: 6px;
                border-radius: 50%;
            }

            &:hover {
                &::before {
                    left: 0;
                }
            }
        }
    }

    &.scrolled {
        background: transparent;
        color: #FFFFFF;
        box-shadow: none;

        .nav {
            a {
                color: #FFFFFF;

                &:hover {
                    color: #1E1E1E;
                }
            }
        }

        .contactButton {
            border-color: #FFFFFF;

            .contactButtonWrapper {
                color: #FFFFFF;
            }
        }
    }
}
